{% extends 'base.html' %}

{% block title %}
    发布博客
{% endblock %}

{% block main %}

    <h2>博客详情</h2>
    <hr>
    <div class="mt-2">
        <img src="{% static 'image/logo.jpg' %}" alt="" class="rounded-circle" height="30" width="30">
        <span class="ms-2">zzzz</span>
        <span class="ms-2">发布时间：2023-05-05</span>
    </div>
    <hr>
    <div class="py-2">

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci aliquam aperiam asperiores
        atque
        autem dicta dignissimos distinctio doloremque ducimus eaque eius eligendi enim est et eum, facilis fuga
        impedit
        in incidunt ipsa ipsum iure labore laborum magnam maiores molestiae mollitia nam necessitatibus nihil
        nostrum

    </div>
    <hr>
    <div class="mt-2">
        <h3>评论</h3>
        <form action="" method="post">
            <div class="input-group mt-3">
                <input type="text" class="form-control" placeholder="请输入评论内容" aria-label="请输入评论内容">
                <button type="submit" class="btn btn-primary" aria-label="评论">评论</button>
            </div>
        </form>
    </div>

    <div class="mt-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item mb-2 d-flex align-items-start">
                <div class="user-info me-3">
                    <img src="{% static 'image/logo.jpg' %}" alt="" class="rounded-circle" width="40" height="40">
                </div>
                <div class="comment-details w-100">
                    <div class="username fw-bold pt-2 ">&nbsp;zzz :</div>
                    <div class="comment-content mt-1">内容</div>
                    <div class="create-time mt-1 small text-muted">2023-05-05</div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}