{% extends 'base.html' %}

{% block title %}
    发布博客
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'wangEditor/index.css' %}">
    <script src="{% static 'js/pub_blog.js' %}"></script>
    <script src={% static 'wangEditor/index.js' %}></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.bundle.js' %}"></script>
    <script src="{% static 'bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script>


    <style>
        #editor—wrapper {
            border: 1px solid #ccc;
            z-index: 100; /* 按需定义 */
        }

        #toolbar-container {
            border-bottom: 1px solid #ccc;
        }

        #editor-container {
            height: 500px;
        }
    </style>
{% endblock %}

{% block main %}
    <h1>发布博文</h1>
    <div class="mt-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">标题</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="请输入标题">

            </div>
            <div class="mb-3">
                <label class="form-label">分类</label>
                <label>
                    <select name="category" class="form-group" id="category-select">
                        {% for category in category %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>

            <div class="mb-3">
                <label class="form-label">内容</label>
                <div id="editor—wrapper">
                    <div id="toolbar-container"><!-- 工具栏 --></div>
                    <div id="editor-container"><!-- 编辑器 --></div>
                </div>
            </div>

            <div class="mb-3 text-end">
                <button type="submit" class="btn btn-primary" id="submit-btn">发布</button>
            </div>
        </form>

    </div>
{% endblock %}